


<html>
	<head>
		<title>server controller</title>
	</head>

	<%=status%><br>
	<span style="color:red;"><%=failure%></span>

	<body>
		<form action="/action" method="post">
			turn server on:

			<button type="submit" formaction="/on">on</button>
			<button type="submit" formaction="/off" ="on">off</button>
			<button type="submit" formaction="/reload" ="on">reload server</button>
		</form>
	</body>

</html>