


<html>
	<head>
		<title>server controller</title>
	</head>

	<body>
		<span style="color:red;"><%=status%></span>
		<form action="/action" method="post">
			username:
			<input type="text" name="username"></input>
			<br>
			password:
			<input type="password" name="password"></input>
			<br>
			<button type="submit" formaction="/login">login</button>
			<button type="submit" formaction="/logout">logout</button>
		</form>
	</body>

</html>